<footer class="bg-dark text-white mt-5">
  <div class="container py-4">
    <div class="row">
      <div class="col-md-3">
        <h5>BenixSpace</h5>
        <p>Your trusted platform for affiliate marketing and link sharing.</p>
        <p><i class="fas fa-envelope me-2"></i>benirabok@gmail.com</p>
        <p><i class="fas fa-phone me-2"></i>+250 783 987 223</p>
      </div>
      <div class="col-md-3">
        <h5>Company</h5>
        <ul class="list-unstyled">
          <li><a href="/about" class="text-white text-decoration-none mb-2 d-block">About Us</a></li>
          <li><a href="/user/referrals" class="text-white text-decoration-none mb-2 d-block">Referral Program</a></li>
          <li><a href="/user/upgrade" class="text-white text-decoration-none mb-2 d-block">Upgrade Account</a></li>
          <li><a href="/sitemap.html" class="text-white text-decoration-none d-block">Sitemap</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5>Legal</h5>
        <ul class="list-unstyled">
          <li><a href="/privacy-policy" class="text-white text-decoration-none mb-2 d-block">Privacy Policy</a></li>
          <li><a href="/terms" class="text-white text-decoration-none mb-2 d-block">Terms & Conditions</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5>Connect</h5>
        <div class="social-links mb-3">
          <a href="https://facebook.com/benixspace" class="text-white me-3"><i class="fab fa-facebook fa-lg"></i></a>
          <a href="https://twitter.com/benixspace" class="text-white me-3"><i class="fab fa-twitter fa-lg"></i></a>
          <a href="https://instagram.com/benixspace" class="text-white me-3"><i class="fab fa-instagram fa-lg"></i></a>
          <a href="https://wa.me/250783987223?text=Hello%20Admin%20of%20BenixSpace,%20I%20Have%20a%20question!" class="text-white"><i class="fab fa-whatsapp fa-lg"></i></a>
        </div>
        <p><small>BenixSpace, A NebeluRw platform</small></p>
        <p><small>KG 128 ST 29, Kigali, Rwanda</small></p>
      </div>
    </div>
    <hr class="my-4">
    <div class="text-center">
      <small>&copy; <%= new Date().getFullYear() %> BenixSpace. All rights reserved.</small>
    </div>
  </div>
</footer>